body{}
.header{
    display: flex;
    background: #ffffff;}
.header img{
    width: 216px;
    height: 92px; ;}
.header ul{
    display: flex;
    align-items: center;
position: relative;}
.header ul li a{
    text-decoration: none;
    display: block;
    padding:0 30px;
    color: #777777;
    text-align:center;
    line-height: 36px;}
.header ul li a:hover{
    border-bottom: 3px solid #4d4d4d;}
.header li{
    text-align: center;}
.icon img{width: 20px;height: 20px;}
.icon{
    display: flex;
   
}
.icon img{}