body{}
.header{
    display: flex;
    background: #ffffff;}
.header img{
    width: 216px;
    height: 92px; ;}
.header ul{
    display: flex;
    align-items: center;
    margin-bottom: 0rem;}
.header ul li a{
    text-decoration: none;
    display: block;
    padding:0 30px;
    color: #777777;
    text-align:center;}
    .header li{
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    .header li:after{
        content: '';
        width: 0%;
        height: 3px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }
    .header li:hover::after{
        width: 100%;
    }
.header li{
    text-align: center;
    line-height: 3}
.banner{
    display:flex;
    flex-shrink: 0;
    position: relative;}
.banner img{
    width: 1510px;
    height: 629px;
    margin: 0 auto;
    display: block;
}
.banner a{
    display:block; 
    width: 50px; 
    height: 50px; 
    background-color: rgba(255, 255, 255, 0.593);
}
.icon{display: flex;
    margin-left: auto;align-items: center;
}
.icon img{margin-right: 25px;width: 20px;height: 20px;}
.main{
    width: 1232px;
    margin: 0 auto;}
.smimg{
    display: flex;
    margin-top: 50px;
padding: 0;}
.smimg li{
    flex-grow: 1;}
.product{
    display: flex;}
.product li img{
    width: 293px;}
.product li{
    flex-grow: 1;}
.product li p{
    color: black;
    text-align: center;
    }
.product li a{text-decoration: none;}
.wrapper{display: flex;            
    justify-content: center; 
    align-items: center;}
.wrapper a{
    background-color: #0B5ED7;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    border-radius: 30px;
    display: flex;}
.lg{
    width: 1232px;
    margin: 0 auto;
    margin-top: 50px;}
.lg2{
    width: 1232px;
    margin: 0 auto;
    margin-top: 50px;}
.lg3{
    width: 1232px;
    margin: 0 auto;
    margin-top: 50px;}
.lg img{width: 100%;}
.lg2 img{width: 100%;}
.lg3 img{width: 100%;}
.about {}
.about a{
    display: block;
    text-decoration: none;}
footer{
    display: flex;margin-top: 50px;width: 1232px;margin: 0 auto;}
footer a{
    text-decoration: none;
}
.service a{
    display: block;}
.social{display: flex;margin-top: 20px;margin-bottom: 50px;}
.social img{margin-left: 10px;}
.about a{color: #4d4d4d;}
.about{margin-top: 50px;}
.service{margin-left: 80px;margin-top: 50px;}
.service a{color: #4d4d4d;}
.after{;margin-left: 80px;margin-top: 50px;}
.after a{display: flex;flex-direction:column;color: #4d4d4d;}
.download{position: relative;}
.download .android{width: 200px;position: absolute;right: 330px;bottom:130px;}
.download .ios{width: 200px;position: absolute;right: 540px;bottom: 130px;}
.youtube{width: 1232px;margin: 0 auto;}
.youtube iframe{margin: 0 auto;width: 1232px;height: 693px;margin-top: 30px;}
.separator{width: 1232px;border-bottom: #4d4d4d;margin: 0 auto;margin-top: 50px;}
  }